/* Alla var(token) värden hämtas från tokens.css filen */
body {
    font-family: 'Darkmode Trial', Arial, Helvetica, sans-serif; /* default font-familj */
    font-size: var(--body-font-size);
    display: grid;
    grid: auto auto auto / 1fr minmax(1px, var(--main-aria-pagetype-max-width)) 1fr;
    grid-template-areas: /* Specifiserar gridens kontainers tre rader och tre kolumner */
        "header header header"
        ". main-content ." /* centrerar main innehållet */
        "footer footer footer";
    background-color: var(--color-main-background);
    color: var(--color-base-font);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.body--startpage {
    grid: auto auto auto / 1fr 1fr 1fr;
    grid-template-areas: 
        "header header header"
        "main-content main-content main-content"
        "footer footer footer";
}
.body--startpage .main-content-area {
    margin: 0;
    padding: 0;
}
header{
    grid-area: header; /* mappar header kontainern grid rad */
}
.logo-container {
    background-color: var(--color-main-background);
    margin: 0.5rem 0 1.5rem;
    display: flex;
    justify-content: center;
}
.main-content-area, .top-menu-list {
    padding: 0 2rem;
}
.main-content-area {
    margin: 1rem 0 2rem;
}
.main-content-area--center {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.breadcrumb-list {
    padding: 0;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
}
.breadcrumb-list a {
    color: var(--color-main-white);
    font-weight: 500;
}
.breadcrumb-list a:visited {
    color: var(--color-main-white);
}
.breadcrumb-list a:hover {
    color: var(--color-main-black);
    background-color: var(--color-link-hover);
}
.breadcrumb-item {
    padding-right: 0.5rem;
}
main {
    grid-area: main-content; /* mappar main kontainern grid rad */
}
h1 {
    font-size: var(--h1-font-size);
    font-weight: 500;
    margin-bottom: 0.5rem;
}
h2 {
    font-size: var(--h2-font-size);
    font-weight: 500;
    margin: 0.5rem 0 1.5rem;
}
h3 {
    font-size: var(--h3-font-size);
    margin-bottom: 0.2rem;
}
p {
    margin: 0 0 1.2rem;
}
.ingress {
    font-size: var(--ingress-font-size);
}
.italic {
    font-style: italic;
}
ul {
    margin: 0.5rem 1rem 1rem -1.4rem;
}
.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20.75625rem, 1fr)); /* Tre kolumner */
    gap: 1.5rem;
    position: relative;
    padding-top: 4rem;
}
.header-grid {
    position: absolute;
}
@media (max-width: 68.75rem) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(19.318125rem, 1fr)); /* Blir två kolumner */
    }
}
.photo-page-content {
    max-width: var(--photo-page-content-max-width);
    width: 100%;
}
/* Default styles för googles material ikoner */
.material-symbols-outlined {
    font-size: 1rem;
    position: relative;
    top: 0.1875rem;
    padding-left: 0.25rem;
    right: 0.3125rem;
    color: var(--color-base-font);
}
/* Css för cookie consent */
.cookie-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.92);
    color: white;
    text-align: center;
    padding: 0.9375rem;
    display: none;
    z-index: 1000;
    border-top: 0.00625rem solid #333;
}

.cookie-container p {
    margin: 0;
    display: inline;
}

.cookie-container .open-new-window {
    background-color: transparent;
    color: var(--color-main-white);
    padding-left: 0.5rem;
}
.button-accept {
    background-color: var(--color-link-button);
    color: var(--color-main-white);
    border: solid #999 0.0625rem;
    padding: 0.625rem 1.25rem;
    margin-left: 1.25rem;
    cursor: pointer;
    border-radius: 0.3125rem;
    font-size: 1.125rem;
}

.photo-galley-link {
    color: var(--color-base-font);
}
.photo-galley-link:hover {
    color: var(--color-main-black);
    background-color: var(--color-link-hover);
}
.photo-galley-link .open-new-window {
    position: relative;
    left: 0.0625rem;
}
.photo-galley-link:hover .open-new-window {
    color: var(--color-main-black);
}

.button-accept:hover {
    background-color: var(--color-link-button-hover);
}
.accept-cookie-link {
    color: var(--color-main-white);
    text-decoration: none;
}
.accept-cookie-link:hover {
    text-decoration: underline;
}

/* Skip länk */
.skip-link {
    position: absolute;
    top: -3rem; /* Gömmer kontainern i default */
    left: 2rem;
    background-color: var(--color-main-black);
    color: var(--color-main-white);
    padding: 0.625rem;
    z-index: 1000;
    text-decoration: none;
    border-radius: 0.3125rem;
    transition: top 0.3s ease;
  }
  
  /* Skip kontainern vid fokus */
  .skip-link:focus {
    top: 2rem; 
    left: 2rem;
  }
